body {
  padding: 30px;

  color: #333333;
}

a {
  color: #333333;
  text-decoration: underline;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  margin-bottom: 15px;
  padding: 10px 15px;

  background-color: #ffffff;

  border: 2px solid #333333;
}

button {
  display: block;

  background-color: #ffffff;

  border: 2px solid #333333;
}

button:hover,
button:focus {
  color: #ffffff;

  background-color: #000000;
}
